/*--------------------------------------------------------------

    Template:  Sheltek Real Estate HTML5 Template
    Author: http://devitems.com/
    Version: 1
    Design and Developed by: http://devitems.com/

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
#tst-arrow-left{
    position: absolute;
    z-index: 99;
    bottom: 10%;
    right: 10%;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
    padding: 0.5rem;
    background: seagreen;
}
#tst-arrow-right{
    position: absolute;
    z-index: 99;
    right: 15%;
    bottom: 10%;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
    padding: 0.5rem;
    background: seagreen;
}
.lb-data .lb-details{
	display:none;
}
/* Property Downloads */
.property-downloads{
    margin: -1rem 0 2rem ;
}
.property-downloads a{
    color: #fff;
}
.pro-details-description{
    text-align: justify;
}
/* Homepage About */
.home-about-video{
    width: 50%;
    margin: -1rem 0rem 1rem 2rem;
}
.home-about-video.alt{
    margin: -1rem 2rem 1rem 0;
}
.home-about-para{
    text-align: justify;
    font-size: 13px;
    line-height: 20.5px;

}
/* 
Slider
*/
.slides {
    padding: 0;
    width: 100%;
   /* height: 420px; */
    display: block;
    margin: 0;
    position: relative;
}
.slides.features{
    height: 482.5px;
}
.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
     /*height: 420px; */
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}
.slides.features .slide{
    height: 482.5px;
    
}
.slide img {
    width: 100%;
    height: 100%;
}
.slide-features-caption{
    position: absolute;
    bottom: 5%;
    left: 5%;
    background: #0000009e;
    color: #fff;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
}
.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	opacity: 1;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    /*background-color: rgba(255, 255, 255, .3); */
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}
/* Slider End */
.main-gallery{
    margin: 120px 0 80px;
}
.section-title-2 h2{
    font-family: "Montesserat", sans-serif;
}
.nearby-map{
    display: flex;
    align-items: center;
}
.places-desc{
    flex: 1;
}
.places-nearby-map{
    line-height: 2.7;
    font-weight: 600;
}
.places-nearby-map i{
    color: darkcyan;
    margin-right: 1rem;
}
.breadcrumbs-title{
    padding: 170px 0 80px;
}
.header-search ul{
    display: flex;
    justify-content: space-evenly;
}
.header-search ul li{
    flex-shrink: 0;
    margin: 0 1rem;
}
.header-search li i {
    font-size: 1.5rem;
}
.header-info h6{
    font-size: 14px;
}
.footer-links a{
    color: #fff;
    font-weight: 200;
    line-height: 2.5;
}
.footer-places li {
    color: #fff;
    font-weight: 200;
    line-height: 2.4;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.bg-2{
    background-image: none;
}
.pagination-list > li.active  a {
    background: #95c41f;
}
@media (max-width: 991px){
    .features-info.bg-gray{
        background: none;
    }
    .nearby{
        background: #f7f7f7;
    }
    .testimonial-area.ptb-115{
        padding-top: 55px;
    }
    .features-info{
        padding: 60px 60px 45px !important;
    }
    .slides.features{
        height: 130px;
    }
    .nav-dots{
        display: none;
    }
    .features-info{
        margin-top: 350px;
    }
    .nav-main {
        display: flex;
        align-items: center;
    }
    .nav-main .header-search {
        padding: 0;
    }
    .logo{
        padding: 20px 0;
    }
    .nearby-map{
        flex-direction: column-reverse;
    }
    .places-desc{
        margin: 2rem 0 0;
        text-align: center;
    }
   @media (max-width: 767px){
       .container{
           width: 90vw;
       }
       #disclaimer-text{
           font-size: 10px !important;
           line-height: 16px !important;
           padding: 10px 15px !important;
       }
       .home-about-video{
           width: 100%;
           margin: 0 0 1rem;
           float: none !important;
       }
       .about-sheltek-area.ptb-80{
           padding-bottom: 0;
       }
   }

}

@media (max-width: 412px){
    #disclaimer-text{
        font-size: 9px !important;
    }



}
@media (max-width: 390px){
    #disclaimer-text{
        line-height: 13px !important;
    }



}
