---
layout: default
title: Gallery | Altin Properties
---


{% for item in site.data.gallery %}
  <a href="{{site.url}}{{item.url}}" data-fancybox="gallery" data-caption="{{item.title}}">
	<img src="{{site.url}}{{item.url}}" alt="" />
</a>
{% endfor %}

<!-- <div class="container main-gallery">
	<div class="row">
		<div class='list-group gallery'>
            {% for item in site.data.gallery %}
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="ligthbox" href="{{site.url}}{{item.url}}">
                    <img class="img-responsive" alt="" src="{{site.url}}{{item.url}}" />
                    <div class='text-right'>
                        <small class='text-muted'>{{item.title}}</small>
                    </div> 
                </a>
            </div>
            {% endfor %}
        </div>
	</div>
</div> <!-- container / end -->

<!-- <script>
    $(document).ready(function(){
    //FANCYBOX
    //https://github.com/fancyapps/fancyBox
    $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
});
   
  
</script> -->
