---
layout: default
title: Gallery | Altin Properties
---
{% assign gallery = site.data.gallery | where: "type","gallery" %}
{% assign facilities = site.data.gallery | where: "type","facilities" %}

<div class="gallery-container">
<div class="gallery-flex">
<h3 class="gallery-heading">Gallery</h3>
{% for item in gallery %}
		
		<div class="gallery-item">
			 <a href="{{site.url}}{{item.url}}" data-fancybox="images" data-caption="{{item.title}}">
	        <img class="gallery-image" src="{{site.url}}{{item.url}}" alt="" /></a>
		</div>
{% endfor %}
<h3 class="gallery-heading">Amenities</h3>
{% for item in facilities %}
		
		<div class="gallery-item">
			 <a href="{{site.url}}{{item.url}}" data-fancybox="images" data-caption="{{item.title}}">
	        <img class="gallery-image" src="{{site.url}}{{item.url}}" alt="" /></a>
		</div>
{% endfor %}

</div>
</div>           


