<!-- Start footer area -->
<footer id="footer" class="footer-area bg-2 bg-opacity-black-90">
    <div class="footer-top pt-110 pb-80">
        <div class="container">
            <div class="row">
                <!-- footer-address -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h6 class="footer-titel">GET IN TOUCH</h6>
                        <ul class="footer-address">
                            <li>
                                <div class="address-icon">
                                    <img src="images/icons/location-2.png" alt="">
                                </div>
                                <div class="address-info">
                                        <span>Altin Real Estate 
                                        Thazhathedathu Building 
                                        Behind Deepika Newspaper Office 
                                        CMS College Road, 
                                        Kottayam, 686001 </span>
                                </div>
                            </li>
                            <li>
                                <div class="address-icon">
                                    <img src="images/icons/phone-3.png" alt="">
                                </div>
                                <div class="address-info">
                                    <span>Kerala : +91 7511173000</span>
                                    <span>Dubai : +971 554735140</span>
                                    <span>Dubai : +971 563941787</span>
                                    <span>Saudi : +971 529646746</span>
                                </div>
                            </li>
                            <li>
                                <div class="address-icon">
                                    <img src="images/icons/world.png" alt="">
                                </div>
                                <div class="address-info">
                                    <span>Email : contact@altinproperties.com</span>
                                    <span>Web :<a href="#" target="_blank"> www.altinproperties.com</a></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- footer-links -->
                <div class="col-lg-2 col-md-4 hidden-sm col-xs-12">
                    <div class="footer-widget middle">
                        <h6 class="footer-titel">Links</h6>
                        <ul class="footer-links">
                            {% for link in site.data.footer-links %}
                            <li>
                                <a href="{{link.href}}">{{link.title}}</a>
                            
                            </li>
                            {% endfor %}
                         </ul>
                    </div>
                </div>
                <!-- footer-Site Info -->
                <div class="col-lg-4 col-md-4 hidden-sm col-xs-12">
                        <div class="footer-widget middle">
                            <h6 class="footer-titel">Places Nearby</h6>
                            <ul class="footer-places">
                                <li>
                                    Kanzhikuzhy Junction - 1.7 KM
                                
                                </li>
                                <li>
                                   Kottayam Collectorate - 2.5 KM
                                </li>
                                <li>
                                   Kottayam Club - 1.8 KM
                                </li>
                                <li>
                                   Pallikoodam - 1.3 KM
                                </li>
                                <li>
                                   Mount Carmel School - 1.7 KM
                                </li>
                                <li>
                                   Mar Baselious School - 1.9 KM
                                </li>
                                <li>
                                   Marian Secondary School - 1.8 KM
                                </li>
                                <li>
                                   Girideepam Bethany School - 2.5 KM
                                </li>
                                <li>
                                   Mar Baselious College - 3.4 KM
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                <!-- footer-contact -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h6 class="footer-titel">QUICK CONTACT</h6>
                        <div class="footer-contact">
                            <p>Lorem ipsum dolor sit amet, consectetur acinglit sed do eiusmod tempor</p>
                            <form  id="contact-form-2" action="https://formspree.io/contact@altinproperties.com"
                            method="POST">
                                <input type="email" name="email2" placeholder="Type your E-mail address...">
                                <textarea name="message2" placeholder="Write here..."></textarea>
                                <button type="submit" value="send">Send</button>
                            </form>
                            <!-- <p class="form-messege"></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyright text-center">
                        <p>Copyright &copy; 2018 <a href="{{site.url}}"><b>Altin Properties</b></a>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer area -->