        <!-- HEADER AREA START -->
        <header class="header-area header-wrapper">
            <div class="header-top-bar bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="logo">
                                <a href="{{site.url}}">
                                    <img src="{{site.url}}/images/logo/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 hidden-sm hidden-xs">
                            <div class="company-info clearfix">
                                <div class="company-info-item">
                                    <div class="header-icon">
                                        <img src="{{site.url}}/images/icons/phone.png" alt="">
                                    </div>
                                    <div class="header-info">
                                        <h6>+91 7511173000</h6>
                                        <p>We are open 9 am - 10pm</p>
                                    </div>
                                </div>
                                <div class="company-info-item">
                                    <div class="header-icon">
                                        <img src="{{site.url}}/images/icons/mail-open.png" alt="">
                                    </div>
                                    <div class="header-info">
                                        <h6><a href="mailto:hnasir770@gmail.com">contact@altinproperties.com</a></h6>
                                        <p>You can mail us</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="header-search clearfix">
                                <ul>
                                    <li><a href="https://www.facebook.com/altinproperties/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                    <li><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="header-middle-area  transparent-header hidden-xs">
                <div class="container">
                    <div class="full-width-mega-drop-menu">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sticky-logo">
                                    <a href="index.html">
                                        <img src="images/logo/logo.png" alt="">
                                    </a>
                                </div>
                                <nav id="primary-menu">
                                    <ul class="main-menu text-center">
                                        <li><a href="{{site.url}}">Home</a></li>
                                        <li><a href="{{site.url}}/about.html">About US</a></li>
                                        <li><a href="{{site.url}}/properties.html">Properties</a>
                                            
                                                <ul class="drop-menu">
                                                    {% assign sortedVilla = site.properties | sort: 'order' %}
                                                    {% for item in sortedVilla %}
                                                    <li><a href="{{item.url}}">{{item.title}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                                
                                            
                                        </li>
                                       <li><a href="#">Gallery</a></li>
                                        <li><a href="{{site.url}}/blog/index.html">Blog</a>
                                        </li>
                                        <li><a href="{{site.url}}/contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER AREA END -->

        <!-- MOBILE MENU AREA START -->
        <div class="mobile-menu-area hidden-sm hidden-md hidden-lg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                       <li><a href="properties.html">Properties</a>
                                        <ul>
                                                {% assign sortedVilla = site.properties | sort: 'order' %}
                                                {% for item in sortedVilla %}
                                                <li><a href="{{item.url}}">{{item.title}}</a></li>
                                                {% endfor %}
                                        </ul>
                                    </li>
                                    <li><a href="service.html">Gallery</a></li>
                                    <li><a href="blog.html">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                                            <li><a href="single-blog.html">Single Bloge</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MOBILE MENU AREA END -->
