<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta name="google-site-verification" content="JTvp21QKT8KhV1oH6jLpDXpYu6XDvy-Zzcq7gko-e4U" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.metadesc}}">
    <meta name="keywords" content="{{page.keywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
   


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/images/icons/favicon.png">

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="{{site.url}}/css/bootstrap.min.css">
    <!-- nivo slider CSS -->
    <link rel="stylesheet" href="{{site.url}}/lib/css/nivo-slider.css"/>
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="{{site.url}}/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{{site.url}}/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{{site.url}}/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{{site.url}}/css/responsive.css">
    <!-- Template color css -->
    <link href="{{site.url}}/css/color/color-core.css" data-style="styles" rel="stylesheet">
    <!-- User style -->
    <link rel="stylesheet" href="{{site.url}}/css/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Modernizr JS -->
    <script src="{{site.url}}/js/vendor/modernizr-2.8.3.min.js"></script>
      <!-- Global site tag (gtag.js) - Google Analytics -->

{% if page.url == '/' %}
{% include userscriptshp.html %}
{% else %}
{% include userscripts.html %}
{% endif %}
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

{% include nav.html %}

{{content}}

{% include footer.html %}
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b15599610b99c7b36d49cba/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->




    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="{{site.url}}/js/vendor/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="{{site.url}}/js/bootstrap.min.js"></script>
    <!-- Nivo slider js -->    
    <script src="{{site.url}}/lib/js/jquery.nivo.slider.js"></script>
    <!-- ajax-mail js -->
    <script src="{{site.url}}/js/ajax-mail.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="{{site.url}}/js/plugins.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="{{site.url}}/js/main.js"></script>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    {% unless page.url  == '/gallery.html' %}<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>{% endunless %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.js"></script>
</body>

</html>
